video {
    width: 240px;
    height: 240px;
    margin-left: 80px;
}

p {
    background-color: blue;
    color: crimson;
    height: 30px;
    width: 100px;
}

audio {
    margin-left: 50px;
    margin-bottom: 50px;
    width: 300px;
}